<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuxy.campushub.mapper.StudentUserMapper">
    
    <insert id="insert" parameterType="com.liuxy.campushub.entity.StudentUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO student_user (
            username, password, real_name, student_number, 
            gender, phone, email, college_id, college_name, 
            major, grade, user_role, bio, status, 
            jw_password, credit_score
        ) VALUES (
            #{username}, #{password}, #{realName}, #{studentNumber},
            #{gender}, #{phone}, #{email}, #{collegeId}, #{collegeName},
            #{major}, #{grade}, #{userRole}, #{bio}, #{status},
            #{jwPassword}, #{creditScore}
        )
    </insert>

    <select id="findByUsername" resultType="com.liuxy.campushub.entity.StudentUser">
        SELECT * FROM student_user WHERE username = #{username}
    </select>

    <select id="findByStudentNumber" resultType="com.liuxy.campushub.entity.StudentUser">
        SELECT * FROM student_user WHERE student_number = #{studentNumber}
    </select>

    <select id="findByPhone" resultType="com.liuxy.campushub.entity.StudentUser">
        SELECT * FROM student_user WHERE phone = #{phone}
    </select>

    <select id="findByEmail" resultType="com.liuxy.campushub.entity.StudentUser">
        SELECT * FROM student_user WHERE email = #{email}
    </select>
</mapper> 